<a href="https://colab.research.google.com/github/kurakanja/113-2coding/blob/main/w2%E9%9A%A8%E5%A0%82.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

授權

In [4]:
#授權
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

In [13]:
import pandas as pd
# read data and put it in a dataframe
# 在 google 工作表載入 gsheets
gsheets = gc.open_by_url('https://docs.google.com/spreadsheets/d/1Q_WjdN6BUN3Fet92pqQJhcu3wA2Po6xA9QOdb2CxYNo/edit?usp=sharing')

資料轉試算表

In [8]:
import pandas as pd
import random

# Define food portions and their respective calorie values (estimated based on average serving sizes)
food_calories = {
    "grains": {
        "Rice": 200,
        "Noodles": 220,
        "Oatmeal": 150,
        "Sweet Potato": 90,
        "Corn": 100,
        "Whole Wheat Bread": 120
    },
    "proteins": {
        "Egg": 70,
        "Tofu": 80,
        "Chicken Breast": 165,
        "Fish": 140,
        "Shrimp": 90,
        "Pork": 210,
        "Beans": 130
    },
    "dairy": {
        "Milk": 120,
        "Yogurt": 150,
        "Cheese": 90
    },
    "vegetables": {
        "Spinach": 25,
        "Broccoli": 55,
        "Carrots": 50,
        "Kale": 40,
        "Lettuce": 15,
        "Cucumber": 20
    },
    "fruits": {
        "Banana": 105,
        "Apple": 95,
        "Orange": 62,
        "Watermelon": 85,
        "Papaya": 55,
        "Kiwi": 42
    },
    "oils": {
        "Olive Oil": 120,
        "Sesame Oil": 120,
        "Almonds": 100,
        "Peanuts": 90,
        "Walnuts": 100,
        "Sunflower Seeds": 80
    }
}

In [9]:
# 轉換為 DataFrame
data = []
for category, items in food_calories.items():
    for food, calories in items.items():
        data.append([category, food, calories])

df = pd.DataFrame(data, columns=["Category", "Food", "Calories"])
print(df)

      Category               Food  Calories
0       grains               Rice       200
1       grains            Noodles       220
2       grains            Oatmeal       150
3       grains       Sweet Potato        90
4       grains               Corn       100
5       grains  Whole Wheat Bread       120
6     proteins                Egg        70
7     proteins               Tofu        80
8     proteins     Chicken Breast       165
9     proteins               Fish       140
10    proteins             Shrimp        90
11    proteins               Pork       210
12    proteins              Beans       130
13       dairy               Milk       120
14       dairy             Yogurt       150
15       dairy             Cheese        90
16  vegetables            Spinach        25
17  vegetables           Broccoli        55
18  vegetables            Carrots        50
19  vegetables               Kale        40
20  vegetables            Lettuce        15
21  vegetables           Cucumber        20
22      fruits             Banana       105
23      fruits              Apple        95
24      fruits             Orange        62
25      fruits         Watermelon        85
26      fruits             Papaya        55
27      fruits               Kiwi        42
28        oils          Olive Oil       120
29        oils         Sesame Oil       120
30        oils            Almonds       100
31        oils            Peanuts        90
32        oils            Walnuts       100
33        oils    Sunflower Seeds        80

試算表轉data frame

In [14]:
from gspread_dataframe import set_with_dataframe

# 選擇要更新的工作表（選擇第一個工作表）
worksheet = gsheets.get_worksheet(0)  # 如果是其他工作表，可以用 get_worksheet(index)

# 將 DataFrame 寫入 Google Sheets
set_with_dataframe(worksheet, df)

In [16]:
worksheet_salary = gsheets.get_worksheet(1)
# 取得 Google Sheets 內容
# 讀取所有資料（包含標題）
data = worksheet_salary.get_all_values()

# 轉換為 DataFrame
df = pd.DataFrame(data[1:], columns=data[0])  # 第一行作為標題
df["薪資"] = df["薪資"].astype(int)  # 確保薪資是數字格式

# 顯示 DataFrame
print(df)

  員工姓名   部門     薪資
0  王大明  業務部  50000
1  李小華  業務部  52000
2  陳美美  行銷部  48000
3  黃志強  行銷部  51000
4  張婷婷  研發部  70000
5  林建國  研發部  72000